<%= form_for @assignment do |f| %>
  <% if @assignment.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @assignment.errors.full_messages.each do |msg| %>
      <ul><%= msg %></ul>
    <% end %>
    </ul>
  </div>
  <% end %>

<h1 class="center">Create Assignment</h1>

<div class="row">
  <div class="span6 offset3">
    <div class="form">

      <%= f.label :user_id %>:
      <%= collection_select(:assignment, :user_id, User.all, :id, :name) %>
    
      <%= f.label :assignment_name %>:
      <%= f.text_field :assignment_name %>
    
      <%= f.label :score %>:
      <%= f.text_field :score %>
     
      <%= f.label :total %>:
      <%= f.text_field :total %>
    
    </div>
    
      <%= f.submit class: 'btn btn-large btn-primary' %>
  </div>
</div>
<% end %>
