<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <ul><%= msg %></ul>
    <% end %>
    </ul>
  </div>
  <% end %>
<div class="row">
<div class="span6 offset3">
  <p>
    <small>
      <strong>Full</strong> <%= f.label :name %>:
    <%= f.text_field :name %>
    </small>
  </p>

  <p>
    <small>
    <%= f.label :nickname %>:
    <%= f.text_field :nickname %>
    </small>
  </p>
 
  <p>
    <small>
    <%= f.label :email %>:
    <%= f.text_field :email %>
    </small>
  </p>

  <p>
    <small>
    <%= f.label :image %>:<br>
      <%= f.text_field :image %>
    </small>
  </p>

  <p>
    <small>
      <%= f.label :password %>:<br>
      <%= f.text_field :password %>
    </small>
  </p>

  <p>
    <small>
      <%= f.label :password_confirmation %>:<br>
      <%= f.text_field :password_confirmation %>
    </small>
  </p>  
 
  <p>
    <%= f.submit class: 'btn btn-large btn-primary' %>
  </p>
  </div>
</div>
<% end %>