<div class="header">
  <h1><%= link_to 'Bueller', root_path, id: 'logo'%></h1>
  <h2><%= link_to "Seating Chart", root_path, class: 'btn btn-large btn-primary' %></h2>
  <h2><%= link_to "All Attendances", attendances_path, class: 'btn btn-large btn-primary' %></h2>
  <h2><%= link_to "Student Index", all_users_path, class: 'btn btn-large btn-primary'%></h2>
  <% if current_user %>
    <h2><%= link_to "Edit your profile", edit_user_path(current_user), class: 'btn btn-large btn-primary'%></h2>
  <% end %>
  <h3><%= link_to "Create New Assignment", '#', class: 'btn btn-large btn-primary'%></h3>
  <h3><%= link_to "I'm Here!", new_attendance_path, class: 'btn btn-large btn-primary' %></h3>
</div>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: 'alert alert-success' %>
<% end %>
<% if current_user != nil %>
  <p class='center'><%= current_user.name %> is currently signed in.</p>
<% end %>