<%= render 'header' %>
<% if current_user %>
 <h3 class='attendance-btn'><%= link_to "Attendance", attendances_path, class: 'btn btn-large btn-primary' %></h3>
  <% if current_user.attended_on.nil? %>
    <h2 class='im-here-btn'><%= link_to "I'm Here!", new_attendance_path, class: 'btn btn-large btn-primary' %></h2>
  <% else %>
    <h2 class='im-here-btn'><%= link_to "I'm Here!", edit_attendance_path(current_user), class: 'btn btn-large btn-primary' %></h2>    
  <% end %>
<% end %>
<div id='box'>A whopping <%= @users.count%> users are signed up!</div>
<div class="main">
  
<table>
  <tr>
    <td class="tableBorder">
      <% @attendances.each do |attendance| %>
        <% if attendance.seat_num == 1 %>
          <%= attendance.student_name %><br>
        <% end %>
      <% end %>
    </td>
    
    <td class="tableBorder">
      <% @attendances.each do |attendance| %>
        <% if attendance.seat_num == 2 %>
          <%= attendance.student_name %><br>
        <% end %>
      <% end %>
    </td>
  </tr>
  
  <tr>
    <td class="tableBorder">
      <% @attendances.each do |attendance| %>
        <% if attendance.seat_num == 3 %>
          <%= attendance.student_name %><br>
        <% end %>
      <% end %>
    </td>
    
    <td class="tableBorder">
      <% @attendances.each do |attendance| %>
        <% if attendance.seat_num == 4 %>
          <%= attendance.student_name %><br>
        <% end %>
      <% end %>
    </td>
  </tr>
  
  <tr>
  <% @attendances.each do |attendance| %>
    <% if !attendance.seat_num %>
    <p>absent: </p>
      <%= attendance.student_name %><br>
    <% end %>
  <% end %>
  </tr>
</table>
    
    
  <table>
    <% @users.each do |user| %>
      <tr>
        <ul class='nickname'>Nickname: <%= user.nickname %></ul>
        <% if user.image != '' %>
          <ul><%= image_tag user.image, class: 'img' %></ul>
        <% else %>
          <ul><%= image_tag user.gravatar_url(:rating => 'PG', :secure => true), class: 'img' %></ul>
        <% end %>
        <ul>Full Name: <%= link_to user.name, user %></ul>
        <ul>Email: <%= user.email %></ul>
      </tr>
      <tr>
        <% if current_user == user %>
        <ul><%= link_to 'Edit User ', edit_user_path(user)%></ul>
        <% end %>
      </tr>
    <% end %>
</table>
  <% if current_user %>
    <%= link_to "Sign out", signout_path, method: "delete" %>
  <% end %>
</div>