<h1>Bueller</h1>
<%= link_to 'New User', new_user_path %><br>
<table>
  <% @users.each do |user| %>
  <tr><%= user.image %></tr><br>
  <tr><%= user.nickname %></tr><br>
  <tr><%= user.name %></tr><br>
  <tr><%= user.email %></tr>
  <td><%= link_to 'Show User', user %></td>
  <td><%= link_to 'Edit User', edit_user_path(user) %></td>
  <% end %>
</table>