<%= render 'header' %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: 'alert alert-success' %>
<% end %>

<div id='box'>A whopping <%= @users.count%> users are signed up!</div>
<div class="main">
  <table>
    <% @users.each do |user| %>
      <tr>
        <ul class='nickname'>Nickname: <%= user.nickname %></ul>
        <% if user.image != '' %>
          <ul><%= image_tag user.image, class: 'img' %></ul>
        <% else %>
          <ul><%= image_tag user.gravatar_url(:rating => 'PG', :secure => true), class: 'img' %></ul>
        <% end %>
        <ul>Full Name: <%= link_to user.name, user %></ul>
        <ul>Email: <%= user.email %></ul>
      </tr>
      <tr>
        <ul>
          <%= link_to 'Edit User ', edit_user_path(user)%>
        </ul>
      </tr>
    <% end %>
</table>
</div>