<%= render 'header' %>

<%= render 'piechart' %>

<% if current_user %>
 <h3 class='attendance-btn'><%= link_to "Attendance", attendances_path, class: 'btn btn-large btn-primary' %></h3>
 <h2 class='im-here-btn'><%= link_to "I'm Here!", new_attendance_path, class: 'btn btn-large btn-primary' %></h2>
<% end %>

  <%= form_tag root_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, @search, type: "date" %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

<div id="piechart" style="width: 900px; height: 500px;"></div>

<div class="main">
  <div class="page-header">
  <h1>users</h1>
</div>

<h2 class="center">Present</h2>
<table>
  <tbody>
    <tr>
      <%= render partial: 'seat', locals: {seat_num: 1} %>
      <%= render partial: 'seat', locals: {seat_num: 2} %>
    </tr>
    <tr>
      <%= render partial: 'seat', locals: {seat_num: 3} %>
      <%= render partial: 'seat', locals: {seat_num: 4} %>
    </tr>
  </tbody>
</table>
  
  <h2 class="center">Absent</h2>
  <table>
    <% @users.absent(@search).each do |user| %>
      <tr>
        <ul class='nickname'>Nickname: <%= user.nickname %></ul>
        <% if user.image != '' %>
          <ul><%= image_tag user.image, class: 'img' %></ul>
        <% else %>
          <ul><%= image_tag user.gravatar_url(:rating => 'PG', :secure => true), class: 'img' %></ul>
        <% end %>
        <ul>Full Name: <%= link_to user.name, user %></ul>
        <ul>Email: <%= user.email %></ul>
      </tr>
      <tr>
        <% if current_user == user %>
        <ul><%= link_to 'Edit User ', edit_user_path(user)%></ul>
        <% end %>
      </tr>
    <% end %>
</table>
  <% if current_user %>
    <%= link_to "Sign out", signout_path, method: "delete" %>
  <% end %>
</div>