<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<h1>Bueller</h1>
<%= link_to 'New User', new_user_path %>
<table>
  <% @users.each do |user| %>
    <tr>
      <ul>Nickname: <%= user.nickname %></ul>
      <ul><%= image_tag user.gravatar_url(:rating => 'PG', :secure => true) %></ul>
      <ul>Full Name: <%= user.name %></ul>
      <ul>Email: <%= user.email %></ul>
    </tr>
    <%= link_to 'Show User ', user %>
    <%= link_to 'Edit User ', edit_user_path(user) %>
    <%= link_to 'Get Out of here ', user_path(user), method: :delete %>
  <% end %>
</table>