<%= render 'header'%>
<div class='align center'>
  <tr>
    <ul>
      <strong>Nickname:<strong>
      <%= @user.nickname %>
    </ul>

    <ul class='align'>
      <%= render 'image' %>
    </ul>

    <ul>
      <strong>Name:<strong>
      <%= @user.name %>
    </ul>
    
    <ul>
      <strong>Email:</strong>
      <%= @user.email %>
    </ul> 
    <ul>
      <%= link_to 'Back', users_path %>
      <% if current_user == @user %>
      | <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
    </ul>
  </tr>
</div>