<%= render 'header'%>
<div class='align'>
  <tr>
    <ul>
      <strong>Nickname:<strong>
      <%= @user.nickname %>
    </ul>

    <ul class='align'>
      <%= render 'image' %>
    </ul>
    
    <ul>
      <%= @user.image %>
    </ul>

    <ul>
      <strong>Name:<strong>
      <%= @user.name %>
    </ul>
    
    <ul>
      <strong>Email:</strong>
      <%= @user.email %>
    </ul> 
    <ul>
      <%= link_to 'Back', users_path %>
      | <%= link_to 'Edit', edit_user_path(@user) %>
    </ul>
  </tr>
</div>