<%= render 'header' %>

<h1>Attendance:</h1>

<p>Student's present today:</p>
<% @attendances.each do |attendance| %>
  <% if attendance.seat_num != nil %>
  <p><%= attendance.student_name %></p>
<p>seat number: <%= attendance.seat_num %></p>
  <p>Attended on: <%= attendance.attended_on %></p><br>
  <% end %>
<% end %>

<p>Sudent's Absent today:</p>
<% @attendances.each do |attendance| %>
  <% if attendance.seat_num == nil %>
    <p><%= attendance.student_name %></p>
  <% end %>
<% end %>